body {
    font-family: Times-new-roman, sans-serif;
    text-align: center;
    background-color: #fce4ec;
    color: #880e4f;
    margin-top: 50px;
}

.container {
    padding: 20px;
}

button {
    background-color: #d81b60;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    background-color: #880e4f;
}

.hidden {
    display: none;
}

#message {
    margin-top: 20px;
}
